<div>
    <sly-card title="Input Project" subtitle="Project with labeled foreground objects">
        <sly-field title="" description="Input Data">
            <a slot="title" target="_blank"
               :href="`/projects/${data.projectId}/datasets`">{{data.projectName}} ({{data.projectItemsCount}}
                images)</a>
            <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
        </sly-field>
    </sly-card>

    <sly-card class="mt15" title="Settings" subtitle="Configure parameters of synthetic data generation">
        <el-tabs v-model="state.tabName">
            <el-tab-pane label="Backgrounds" name="Backgrounds">
                <sly-select-team-workspace
                        :team-id.sync="state.teamId"
                        :workspace-id.sync="state.workspaceId">
                </sly-select-team-workspace>
                <sly-select-project
                        :workspace-id="state.workspaceId"
                        :project-id.sync="state.bgProjectId">
                </sly-select-project>
                <sly-select-dataset
                        :project-id="state.bgProjectId"
                        :datasets.sync="state.bgDatasets"
                        :options="{'multiple': true}">
                </sly-select-dataset>
            </el-tab-pane>
            <el-tab-pane label="Classes" name="Classes">
                <div v-if="data.classes.length === 0">Project does not have any classes</div>
                <div v-if="data.classes.length > 0">
                    <el-table
                            class="ultra-table"
                            :data="data.classes"
                            style="width: 100%"
                            max-height="500"
                            @selection-change="
                (val) => {
                    state.selectedClasses = val.map(x => x.title);
                }
                "
                    >
                        <el-table-column type="selection" width="55"></el-table-column>
                        <el-table-column label="Name" prop="title" sortable>
                            <template scope="scope">
                                <i class="zmdi zmdi-circle mr5" :style="{color: scope.row.color}"></i>
                                {{ scope.row.title }}
                            </template>
                        </el-table-column>
                        <el-table-column prop="shape" label="Shape" sortable></el-table-column>
                        <el-table-column prop="imagesCount" label="Images" sortable></el-table-column>
                        <el-table-column prop="objectsCount" label="Objects" sortable></el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="Objects" name="Objects">Objects</el-tab-pane>
            <el-tab-pane label="Augmentations" name="Augs">Augs</el-tab-pane>
        </el-tabs>
    </sly-card>
</div>