<div>
    <sly-card title="Input Project" subtitle="Project with labeled foreground objects">
        <sly-field title="" description="Input Data">
            <a slot="title" target="_blank"
               :href="`/projects/${data.projectId}/datasets`">{{data.projectName}} ({{data.projectItemsCount}}
                images)</a>
            <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>
        </sly-field>
    </sly-card>

    <sly-card class="mt15"
              title="Settings"
              subtitle="Configure parameters of synthetic data generation">
        <el-tabs v-model="state.tabName">
            <el-tab-pane label="Backgrounds" name="Backgrounds">
                <sly-select-team-workspace
                        :team-id.sync="state.teamId"
                        :workspace-id.sync="state.workspaceId">
                </sly-select-team-workspace>
                <sly-select-project
                        :workspace-id="state.workspaceId"
                        :project-id.sync="state.bgProjectId">
                </sly-select-project>
                <el-checkbox class="mt15" v-model="state.allDatasets">All datasets</el-checkbox>
                <sly-select-dataset
                        v-show="!state.allDatasets"
                        :project-id="state.bgProjectId"
                        :datasets.sync="state.bgDatasets"
                        :options="{'multiple': true}">
                </sly-select-dataset>

            </el-tab-pane>
            <el-tab-pane label="Classes" name="Classes">
                <div v-if="data.classes.length === 0">Project does not have any classes</div>
                <div v-if="data.classes.length > 0">
                    <el-table
                            class="ultra-table"
                            :data="data.classes"
                            style="width: 100%"
                            @selection-change="
                (val) => {
                    state.selectedClasses = val.map(x => x.title);
                }
                "
                    >
                        <el-table-column type="selection" width="55"></el-table-column>
                        <el-table-column label="Name" prop="title" sortable>
                            <template scope="scope">
                                <i class="zmdi zmdi-circle mr5" :style="{color: scope.row.color}"></i>
                                {{ scope.row.title }}
                            </template>
                        </el-table-column>
                        <el-table-column prop="shape" label="Shape" sortable></el-table-column>
                        <el-table-column prop="imagesCount" label="Images" sortable></el-table-column>
                        <el-table-column prop="objectsCount" label="Objects" sortable></el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>
            <el-tab-pane label="Augmentations" name="Augmentations">
                <sly-editor v-model="state.augs" :options="{height: '600px', mode: 'ace/mode/yaml'}"></sly-editor>
            </el-tab-pane>
        </el-tabs>
    </sly-card>

    <sly-card class="mt15"
              title="Random preview"
              subtitle="Preview synthetic image and labels">
        <div slot="header">
            <el-button
                    type="primary"
                    @click="state.previewLoading = true; command('preview')"
                    :disabled="state.selectedClasses.filter(Boolean).length === 0 ||
                               !state.bgProjectId ||
                               (state.allDatasets === false && state.bgDatasets.length === 0)"
                    :loading="state.previewLoading"
            >
                <i class="zmdi zmdi-slideshow" style="margin-right: 5px"></i> Preview
            </el-button>
        </div>
        <div class="fflex" v-show="state.previewLoading">
            <el-progress :percentage="data.progressPercent" style="flex: 1;"></el-progress>
            <div>{{data.progressCurrent}} / {{data.progressTotal}}</div>
        </div>
        <sly-grid-gallery
                v-show="Object.keys(data.gallery.content.annotations).length > 0 && !state.previewLoading"
                :content="data.gallery.content"
                :options="data.gallery.options"/>
        <div v-show="Object.keys(data.gallery.content.annotations).length === 0">Gallery is empty, press Preview button
            to visualize examples
        </div>
    </sly-card>

    <sly-card class="mt15"
              title="Output"
              subtitle="Define result project name and how many images have to be generated">
        <div v-if="!data.resProjectId">
            <sly-field title="Result project name"
                       description="New project with synthetic images will be created.">
                <el-input v-model="state.resProjectName" :disabled="data.started"></el-input>
            </sly-field>
            <sly-field title="Images count"
                       description="How many images should be generated">
                <el-input-number v-model="state.imagesCount" :min="1" :max="1000"></el-input-number>
            </sly-field>
            <sly-field title="Output task type"
                       description="How final labels have to be processed (learn more in readme)">

                <el-radio-group v-model="state.taskType">
                    <div style="display: flex; flex-direction: column">
                        <el-radio disabled label="seg">
                            <span>Segmentation</span>
                            <span style="color: gray"> - masks of objects of same class on image will be merged to a single mask</span>
                        </el-radio>
                        <el-radio disabled class="mt5" label="det" style="margin-left: 0">
                            <span>Detection</span>
                            <span style="color: gray"> - masks will be transformed to bounding boxes</span>
                        </el-radio>
                        <el-radio class="mt5" label="inst-seg" style="margin-left: 0">
                            <span>Instance Segmentation</span>
                            <span style="color: gray"> - separate mask for every object</span>
                        </el-radio>
                    </div>
                </el-radio-group>

            </sly-field>
            <el-button
                    type="primary"
                    :loading="data.started"
                    @click="data.started = true; command('generate')"
                    :disabled="state.selectedClasses.filter(Boolean).length === 0 ||
                               !state.bgProjectId ||
                               (state.allDatasets === false && state.bgDatasets.length === 0)">
                Generate
            </el-button>
            <div class="fflex mt10" v-if="data.started === true">
                <div class="mr10" style="width: 120px;">Objects on image:</div>
                <el-progress :percentage="data.progressPercent" style="flex: 1"></el-progress>
                <div class="ml10" style="flex: none;">[{{data.progressCurrent}} / {{data.progressTotal}}]</div>
            </div>
            <div class="fflex mt10" v-if="data.started === true">
                <div class="mr10" style="width: 120px;">Generated images:</div>
                <el-progress :percentage="data.progressPercentImages" style="flex: 1"></el-progress>
                <div class="ml10" style="flex: none;">[{{data.progressCurrentImage}} / {{data.progressTotalImages}}]</div>
            </div>
        </div>
        <sly-field v-if="data.resProjectId" title="" description="Project">
            <a slot="title" target="_blank"
               :href="`/projects/${data.resProjectId}/datasets`">{{data.resProjectName}}</a>
            <sly-icon slot="icon" :options="{ imageUrl: `${data.resProjectPreviewUrl}` }"/>
        </sly-field>
    </sly-card>
</div>